

/*------------------------*/
/* CUSTOM */
/*------------------------*/
#thankyou_message {
    display: none;
}

.hide-no-important{
    display: none;
}

.width100 {
    width:100%;
}

.text-center .social-icons {
    float: none;
}

iframe.fb-like-know-more {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    margin: 3.5em 0 0 -10.5em;
}